<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header><img src="/img/MeadowLark_logo.png" alt="Meadowlark Travel Logo"></header>

{{{body}}}



<hr>
<a href="about">About this site</a>

</body>
</html>